@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");
/* const initialItems = [
    { id: 1, description: "Passports", qty: 2, packed: false },
    { id: 2, description: "Socks", qty: 12, packed: false },
]; */

:root {
    --color-lightest: #fff4e6;
    --color-light: #ffe8cc;
    --color-medium: #ffa94d;
    --color-dark: #ff922b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
    color: #5a3e2b;
    font-family: "Quicksand";
    font-weight: 500;
}
body {
    font-size: 2.4rem;
    font-family: sans-serif;
    color: #5a3e2b;
    font-family: "Quicksand";
    font-weight: 500;
}

.cart {
    float: right;
}
.cart button {
    background-color: #f3d5a9;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}
.cart button label {
    cursor: pointer;
}
.cart button label {
    font-size: 20px;
    position: relative;
}
.cart button .cart-count {
    font-size: 13px;
    font-weight: bold;
    color: green;
}
.cart button:hover .cart-count {
    color: yellow;
}
.cart button .cart-amount {
    display: block;
}

.cart button:hover {
    border: solid 1px #000000;
    background-color: rgb(221, 45, 45);
    color: #ffffff;
}
h1 {
    text-align: center;
    font-family: "Monoton";
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 10px;
    letter-spacing: 0px;
    padding: 2rem 0;
}

/* grid container */
.right-sidebar-grid {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "item-list"
        "main-content"
        "right-sidebar"
        "footer";
}

/* general column padding */
.right-sidebar-grid > * {
    padding: 1rem;
}

/* assign columns to grid areas */
.right-sidebar-grid > .header {
    grid-area: header;
    text-align: center;
    background-color: #f3d5a9;
}
.right-sidebar-grid > .item-list {
    grid-area: item-list;
    margin: 0 auto;
    width: 80%;
    transition: 0.5s;
}
.items {
    display: grid;
    list-style: none;
    gap: 0.4rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    transition: 0.5s;
}

.item {
    display: grid;
    padding: 5px;
    transition: 0.5s;
    border: solid 1px #cccccc;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.item-image {
    margin-bottom: 10px;
}
.item-image img {
    height: 50px;
}
.item-detail {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}
.item-detail .item-detail-amount {
    font-size: 11px;
}
.right-sidebar-grid > .main-content {
    grid-area: main-content;
    background: #fff;
}
.right-sidebar-grid > .right-sidebar {
    grid-area: right-sidebar;
    background: #f5d55f;
}
.right-sidebar-grid > .footer {
    grid-area: footer;
    background: #72c2f1;
    text-align: center;
}

/* tablet breakpoint */
@media (min-width: 768px) {
    .right-sidebar-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "item-list item-list item-list"
            "main-content main-content right-sidebar"
            "footer footer footer";
    }
}
/* tablet breakpoint */
@media (max-width: 768px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}

label {
    font-weight: 500;
}

label::first-letter {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.8rem;
}

input,
select {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    padding: 0.7rem;
    text-align: center;
    border: 1px solid var(--color-light);
    border-radius: 3px;
    transition: 0.3s;
    display: inline-block;
}

input:focus,
select:focus {
    outline: none;
    border: 1px solid var(--color-dark);
}

form .button {
    margin-top: 0.6rem;
}

.quantity-style {
    text-align: left;
}
.quantity-style label {
    font-size: 12px;
    width: 60%;
    font-family: sans-serif;
}
.quantity-style label::first-letter {
    font-size: 12px;
    margin: 0px;
}
.quantity-style span {
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}

.button {
    background-color: var(--color-medium);
    color: #343a40;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
}

.button:hover {
    background-color: var(--color-dark);
}

.sidebar {
    margin-top: 10px;
}
.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.sidebar li {
    display: grid;
    grid-template-columns: 4.8rem 1fr auto;
    align-items: center;
    column-gap: 1.6rem;
    padding: 1.2rem;
    border-radius: 7px;
    transition: 0.5s;
    border-bottom: solid 1px #ccc;
}

.selected,
.sidebar li:hover {
    background-color: var(--color-lightest);
}

.sidebar li img {
    border-radius: 50%;
    width: 100%;
    grid-row: span 2;
}

.sidebar li h3 {
    grid-row: 1;
    grid-column: 2;
}

.sidebar li p {
    grid-row: 2;
    grid-column: 2;
}

.sidebar li .button {
    grid-row: span 2;
    grid-column: 3;
}

.sidebar > .button {
    float: right;
    margin-right: 1.2rem;
}
